.ability {
  display: grid;
  grid-template-columns: min-content min-content;
  column-gap: 8px;
  margin: 15px;
  border-top: 2px solid black;
}

.ability_values {
  border: 3px double black;
  border-radius: 2px 10px;
  height: 64px;
  width: 64px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  justify-items: center;
  
}

.ability_score {
  width: 28px;
  height: 28px;
  background-color: white;
  border: 1px double black;
  border-radius: 2px 2px 10px 10px;
  position: relative;
  top: -50%;
}

.ability_name {
  font-weight: bold;
  font-size: 8px;
  text-align: center;
}

.skills {
  padding-top: 4px;
}