@font-face {
  font-family: Interstate-bold;
  src: url(fonts/Interstate-bold.ttf);
}

@font-face {
  font-family: Interstate-light;
  src: url(fonts/Interstate-light.ttf);
}

@font-face {
  font-family: Interstate-regular;
  src: url(fonts/Interstate-regular.ttf);
}

* {
  font-size: x-small;
  font-family: Interstate-light;
}

.App {
  border: 1px solid black;
  width: 8.5in;
  height: 6in;
  padding: 12px 3px 0 3px;
}

.sheet {
  display: grid;
  grid-template-columns: min-content 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 8px;
  height: 100%;
}

.left {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  grid-area: 1 / 1 / 3 / 1
}

.middle, .right {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.middle {
  grid-area: 1 / 2 / 2 / 3;
}

.right {
  grid-area: 1 / 3 / 2 / 4;
}

.backpack {
  grid-area: 2 / 2 / 3 / 4;
}